.col-md-6.col-md-offset-3
  fieldset
    legend Contact
    form
      .form-group
        label Name
        input.form-control(type='text', ng-model='vm.contact.name')
      .form-group
        label Email
        input.form-control(type='email', ng-model='vm.contact.email')
      .form-group
        label Description
        textarea.form-control(type='text', ng-model='vm.contact.description')
      .form-group
        button.btn.btn-primary.btn-lg.btn-block(type='submit', ng-click='vm.save()') Save
