.col-md-4.col-md-offset-4
  .panel.panel-primary
    .panel-heading LOGIN
    .panel-body
      form
        .form-group
          label EMAIL
          input.form-control.input-lg(type='email', ng-model='vm.user.email')
        .form-group
          label PASSWORD
          a.pull-right(href='#') Forgot password?
          input.form-control.input-lg(type='password', ng-model='vm.user.password')
        .form-group
          button.btn.btn-success.btn-lg.btn-block(type='submit', ng-click='vm.auth()') LOGIN
    
  .panel.panel-primary
    .panel-body.text-center
      | New to Ecommerce? 
      a(ui-sref='register') Create an account.
