nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
  div.container
    div.navbar-header
      button.navbar-toggle(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
        
      a.navbar-brand(ui-sref="home") Ecommerce

    div.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
      ul.nav.navbar-nav
        li
          a(ui-sref="services") Services
        li
          a(ui-sref="contact") Contact
        li
          a(ui-sref="about") About
      ul.nav.navbar-nav.pull-right
        li
          a(href="#") {{main.user.email}}
        li
          a(href="#", ng-click='main.logout()') Logout
