header.jumbotron.hero-spacer
  h1 A Warm Welcome!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.
  p 
    a.btn.btn-primary.btn-large Call to action!

hr

div.row
  div.col-lg-12
    h3 Latest Features

div.row.text-center

  div.col-md-3.col-sm-6.hero-feature
    div.thumbnail
      img(src="http://placehold.it/800x500" alt="")
      div.caption
        h3 Feature Label
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        p
          a.btn.btn-primary(href="#") Buy Now!
          &nbsp
          a.btn.btn-default(href="#") More Info

  div.col-md-3.col-sm-6.hero-feature
    div.thumbnail
      img(src="http://placehold.it/800x500" alt="")
      div.caption
        h3 Feature Label
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        p
          a.btn.btn-primary(href="#") Buy Now!
          &nbsp
          a.btn.btn-default(href="#") More Info

  div.col-md-3.col-sm-6.hero-feature
    div.thumbnail
      img(src="http://placehold.it/800x500" alt="")
      div.caption
        h3 Feature Label
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        p
          a.btn.btn-primary(href="#") Buy Now!
          &nbsp
          a.btn.btn-default(href="#") More Info

  div.col-md-3.col-sm-6.hero-feature
    div.thumbnail
      img(src="http://placehold.it/800x500" alt="")
      div.caption
        h3 Feature Label
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        p
          a.btn.btn-primary(href="#") Buy Now!
          &nbsp
          a.btn.btn-default(href="#") More Info
