.container-fluid
  header.jumbotron
    h1 Ecommerce
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.
    p
      a.btn.btn-primary.btn-large Call to action!

  hr

  .row
    .col-lg-12
      h3 Products

  .row.text-center

    .col-md-3.col-sm-6.hero-feature(ng-repeat='product in vm.products')
      .thumbnail
        img(src="http://placehold.it/800x500" alt="")
        .caption
          h3 {{product.name}}
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          h3
            strong R$ {{product.price}}
          p
            a.btn.btn-primary(href="#") Buy Now!
            &nbsp
            a.btn.btn-default(href="#") More Info
